- appointment = acoba_reported_appointment
%p
  = link_to h(appointment.organisation_name), organisation_path(appointment.organisation)
  ='-'
  = h appointment.title
  %br
  = h appointment.acoba_advice
  %br
  tendered:
  = appointment.date_tendered.to_s(:month_year)
  | taken up:
  = appointment.date_taken_up.to_s(:month_year)

