= error_messages_for :person

- form_for @person do |f|
  - field_set_tag 'Person' do
    %p
      = f.label :name
      = f.text_field :name
      %span.note e.g. use "Baroness Amos" if appointee name is "The Rt Hon Baroness Amos"
    %p
      = f.label :wikipedia_url, 'Wikipedia URL'
      = f.text_field :wikipedia_url
      %span.note optional
    %p
      = f.label :wikipedia_url, 'SpinWatch URL'
      = f.text_field :spinwatch_url
      %span.note optional
    %p
      = f.submit "Submit"

