- @title = 'People'

.people_search
  - form_tag(search_url, :method => :post) do
    = #text_field_tag 'q', (@last_search_term ? h(sanitize(@last_search_term)) : ''), :size => 24
    = text_field_with_auto_complete :person, :name
    = submit_tag 'Find person'
- if flash['person_not_found']
  %p= flash['person_not_found']

%h2 Current Lords
%ul
  = render :partial => 'lord', :collection => @lords.select {|l| !l.appointments.empty?}, :locals => {:details => @lord_details}
%h2 Current MPs
%ul
  = render :partial => 'mp', :collection => @mps, :locals => {:details => @mp_details}
%h2 Others
%ul
  = render :partial => 'person', :collection => @others

