- @title = 'Admin'

- unless @recommended_merges.empty?
  %h3 Recommended Merges

  - @recommended_merges.each do |to_merge|
    - if to_merge.first.registered_name
      %p
        merge
        = link_to to_merge.first.name, edit_organisation_path(to_merge.first)
        into
        = to_merge.last.name
        = #to_merge.collect(&:registered_name).compact.uniq.join(', ') + ' -> ' + to_merge.collect(&:name).join(', ')

%h3 Users

%p.text
  = 'You are logged in as <strong>' + @current_user.login + '</strong>'
  |
  = link_to 'Edit your account settings', edit_user_path(@current_user)

- if @current_user.admin?

  %p.text= 'Your account has administrator rights.'

  %p.text
    = link_to 'Add new user', new_user_path
    |
    = link_to 'Edit users', users_path

- if is_admin?
  %p.text
    = link_to "Logout", user_session_path, :method => :delete
    |
    = link_to 'Admin home', admin_path
