- @title = 'Admin'

%h3 Users

%p.text
  = 'You are logged in as <strong>' + @current_user.login + '</strong>'
  |
  = link_to 'Edit your account settings', edit_user_path(@current_user)

- if @current_user.admin?

  %p.text= 'Your account has administrator rights.'

  %p.text
    = link_to 'Add new user', new_user_path
    |
    = link_to 'Edit users', users_path

- if is_admin?
  %p.text
    = link_to "Logout", user_session_path, :method => :delete
    |
    = link_to 'Admin home', admin_path
