%p
  Between
  = client_data_source.period_start.to_s(:month_year)
  and
  = client_data_source.period_end.to_s(:month_year)
  retained public affairs
  - if @consultancy_clients.empty?
    monitoring services from:
    = render :partial => 'lobbyist_clients', :object => @monitoring_clients
  - elsif @monitoring_clients.empty?
    consultancy services from:
    = render :partial => 'lobbyist_clients', :object => @consultancy_clients
  - else
    %ul
      - unless @consultancy_clients.empty?
        %li consultancy services from:
        = render :partial => 'lobbyist_clients', :object => @consultancy_clients
      - unless @monitoring_clients.empty?
        %li monitoring services from:
        = render :partial => 'lobbyist_clients', :object => @monitoring_clients
%p
  Data source:
  = link_to(client_data_source.name, client_data_source.url)

