= error_messages_for :data_source

- form_for @organisation do |f|
  - field_set_tag 'Organisation' do
    %p
      = f.label :name
      = f.text_field :name, :size=>40
    %p
      = f.label :alternate_name
      = f.text_field :alternate_name, :size=>40
    %p
      = f.label :url, 'URL'
      = f.text_field :url, :size=>40
    %p
      = f.label :wikipedia_url, 'Wikipedia URL'
      = f.text_field :wikipedia_url, :size=>40
      %span.note optional
    %p
      = f.label :spinwatch_url, 'Spinwatch URL'
      = f.text_field :spinwatch_url, :size=>40
      %span.note optional
    %p
      = f.label :company_number
      = f.text_field :company_number, :size=>40
      %span#company_number_note
        %span.note
          if registered at
          = link_to('companieshouse.gov.uk', "http://companieshouse.gov.uk/") + ','
          optional
    %p
      = f.submit "Submit"

