= error_messages_for :data_source

- form_for @organisation do |f|
  - field_set_tag 'Organisation' do
    %p
      = f.label :name
      = f.text_field :name
    %p
      = f.label :url
      = f.text_field :url
    %p
      = f.submit "Submit"

