%p
  Provided public affairs consultancy services between
  = register_entry.period_start.to_s(:month_year)
  and
  = register_entry.period_end.to_s(:month_year)
  to:
%ul
  - register_entry.consultancy_clients.each do |client|
    %li
      - if client.organisation
        = link_to client.name, organisation_path(client.organisation)
      - else
        = client.name
      - unless client.name_in_parentheses.blank?
        %span.note= '(' + client.name_in_parentheses + ')'
%p
  Data source:
  = link_to register_entry.data_source.name, register_entry.data_source.url
