- @title = 'Organisations'
%h2= "What do we know?"
%h3
  At least
  = link_to "#{@organisations_lobbying_count} organisations lobbying", "#organisations_lobbying"
%h3
  At least
  = link_to "#{@quangos_lobbying_count} quangos lobbying", "#quangos"
%h3
  At least
  = link_to "#{@lobbyist_count} lobbyist firms", "#lobbyist_firms"
%h3
  At least
  = link_to "#{@members_interests_count} organisations with member interests", "#members_interests"

#quangos
  %h2= "Quangos lobbying (#{@quangos_lobbying_count})"
  %table
    = render :partial => 'organisation', :collection => @quangos_lobbying
#organisations_lobbying
  %h2= "Organisations lobbying (#{@organisations_lobbying_count})"
  %table
    = render :partial => 'organisation', :collection => @organisations_lobbying
#lobbyist_firms
  %h2= "Lobbyist firms (#{@lobbyist_count})"
  %table
    = render :partial => 'organisation', :collection => @lobbyists
#members_interests
  %h2= "Organisations with member interests (#{@members_interests_count})"
  %table
    = render :partial => 'organisation', :collection => @members_interests
= link_to "Add organisation", new_organisation_path

