- @title = @organisation.name
- if @organisation.company_number
  .company_number
    Company No.
    = @organisation.company_number

- unless @consultancy_entries_by_lobbyist_firm.empty? && @monitoring_entries_by_lobbyist_firm.empty?
  %h2 Lobbyist Retained
  - unless @consultancy_entries_by_lobbyist_firm.empty?
    %p Retained public affairs consultancy services from:
    = render :partial => 'lobbyist_firm_retained', :collection => @consultancy_lobbyist_firm_keys, :locals => {:entries_by_lobbyist_firm => @consultancy_entries_by_lobbyist_firm}
  - unless @monitoring_entries_by_lobbyist_firm.empty?
    %p Retained public affairs monitoring services from:
    = render :partial => 'lobbyist_firm_retained', :collection => @monitoring_lobbyist_firm_keys, :locals => {:entries_by_lobbyist_firm => @monitoring_entries_by_lobbyist_firm}

- if false # unless @client_data_sources.empty?
  %h2 Lobbyists Retained
  = # render :partial => 'consultancy_client', :collection => @consultancy_clients
  = render :partial => 'client_data_source', :collection => @client_data_sources

- unless @register_entries.empty?
  %h2 Public Affairs Clients
  = render :partial => 'register_entry', :collection => @register_entries

- unless @organisation.data_sources.empty?
  %h2 Data sources
  - @organisation.data_sources.each do |data_source|
    %p= link_to h(data_source.name), data_source_path(data_source)

- unless @similarly_named.empty?
  %h2 Similarly Named Organisations
  - @similarly_named.each do |organisation|
    %p
      = link_to h(organisation.name), organisation_path(organisation)
      - if organisation.company_number
        = "(#{organisation.company_number})"
