- @title = @organisation.name
- if @company
  .company_number
    %p
      We think this is the registered company:
      = @company.name
      Company No.
      = @organisation.company_number

- unless @groups.empty?
  - @groups.each do |group|
    %p
      We've put this organisation in a
      = link_to group.name, organisation_group_path(group)
      group.

- if @organisation.quango
  %p
    = @organisation.name
    is a UK quango or executive agency or agency or non-minsterial department or other public body.
  %p
    = @organisation.quango.government_department.name
    is the government department governing
    = @organisation.name + '.'
#members_interests_items
  = render :partial => 'members_interests_items', :object => @members_interests_items
#appointments
  = render :partial => 'appointments', :object => @appointments
#lobbying_clients
  = render :partial => 'lobbying_clients', :locals => {:consultancy_client_organisations => @consultancy_client_organisations, :consultancy_entries_by_client_organisation => @consultancy_entries_by_client_organisation, :monitoring_client_organisations => @monitoring_client_organisations, :monitoring_entries_by_client_organisation => @monitoring_entries_by_client_organisation }

#consultancy_staff
  - unless @consultancy_staff_members.empty?
    %h2 Consultancy staff
    %ul
      = render :partial => 'staff_member', :collection => @consultancy_staff_members, :locals => {:entries_by_staff_member => @entries_by_consultancy_staff_member}
#lobbyists_retained
  = render :partial => 'lobbyists_retained', :locals => {:partial_path => ''}
#lobbyist_staff
  = render :partial => 'lobbyists_staff', :locals => {:partial_path => ''}

- unless @organisation.data_sources.empty?
  %h2 Data sources
  - @organisation.data_sources.each do |data_source|
    %p= link_to h(data_source.name), data_source_path(data_source)

#similarly_named
  - unless @similarly_named.empty?
    %h2 Similarly named organisations
    %ul
      - @similarly_named.each do |organisation|
        %li
          = link_to h(organisation.name), organisation
          - if organisation.company_number
            %span.company_number= organisation.company_number
