- @title = h @consultancy_staff_member.name

%h2 Staff member of
%p
  = link_to h(@consultancy_staff_member.consultancy), organisation_path(@consultancy_staff_member.organisation)
  = link_to_periods @register_entries
  
- unless @consultants.empty? && @people.empty?
  %h2 Similarly named persons
  %ul
    - @consultants.group_by(&:organisation).each do |organisation, consultants|
      %li
        - consultant = consultants.first
        - entries = consultants.collect(&:register_entry)
        = link_to_consultant consultant.name, entries.first
        worked with 
        = link_to h(consultant.consultancy), organisation_path(consultant.organisation)
        %small
          = link_to_periods entries

