- @title = @organisation.name
- unless @organisation.company_number.blank?
  .company_number
    We think this is the registered company:
    = Company.find_by_company_number(@organisation.company_number).name
    Company No.
    = @organisation.company_number

- if @organisation.quango
  %p
    = @organisation.name
    is a UK quango or executive agency or agency or non-minsterial department or other public body.
  %p
    = @organisation.quango.government_department.name
    is the government department governing
    = @organisation.name + '.'
#members_interests_items
  - unless @members_interests_items.empty?
    %h2 Members Financial Interests
    %ul
      - @members_interests_items.each do |interest|
        %li
          %strong= link_to h(interest.person_name), interest.person
          = h interest.description
          %em= h interest.category_name
#appointments
  - unless @appointments.empty?
    %h2 Appointments reported by ACOBA
    %ul
      - @appointments.each do |appointment|
        %li
          %strong= link_to h(appointment.person_name), appointment.person
          = " - #{h(appointment.title)}, #{h(appointment.organisation_name)}"
          %span
            = "(tendered #{ h appointment.date_tendered.to_s(:mmm_year) },"
            = "taken up #{ h appointment.date_taken_up.to_s(:mmm_year) })"
#lobbying_clients
  - unless @consultancy_client_organisations.empty? && @monitoring_client_organisations.empty?
    %h2 Public Affairs Clients
    - unless @consultancy_client_organisations.empty?
      %p Provided public affairs consultancy services to:
      %ul
        = render :partial => 'client_organisation', :collection => @consultancy_client_organisations, :locals => {:entries_by_client_organisation => @consultancy_entries_by_client_organisation}
    - unless @monitoring_client_organisations.empty?
      %p Provided public affairs monitoring services to:
      %ul
        = render :partial => 'client_organisation', :collection => @monitoring_client_organisations, :locals => {:entries_by_client_organisation => @monitoring_entries_by_client_organisation}

#consultancy_staff
  - unless @consultancy_staff_members.empty?
    %h2 Consultancy staff
    %ul
      = render :partial => 'staff_member', :collection => @consultancy_staff_members, :locals => {:entries_by_staff_member => @entries_by_consultancy_staff_member}
#lobbyists_retained
- unless @consultancy_lobbyist_firms.empty? && @monitoring_lobbyist_firms.empty?
  %h2 Lobbyists retained
  - unless @consultancy_lobbyist_firms.empty?
    %p Retained public affairs consultancy services from:
    %ul
      = render :partial => 'lobbyist_firm_retained', :collection => @consultancy_lobbyist_firms, :locals => {:entries_by_lobbyist_firm => @consultancy_entries_by_lobbyist_firm}
  - unless @monitoring_lobbyist_firms.empty?
    %p Retained public affairs monitoring services from:
    %ul
      = render :partial => 'lobbyist_firm_retained', :collection => @monitoring_lobbyist_firms, :locals => {:entries_by_lobbyist_firm => @monitoring_entries_by_lobbyist_firm}

#lobbyist_staff
- unless @consultancy_lobbyist_firms.empty? && @monitoring_lobbyist_firms.empty?
  %h2 Staff of lobbyists
  - unless @consultancy_lobbyist_firms.empty?
    %p Staff of firms doing public affairs consultancy services:
    %ul
      = render :partial => 'retained_lobbyist_staff', :collection => @consultancy_lobbyist_firms, :locals => {:entries_by_lobbyist_firm => @consultancy_entries_by_lobbyist_firm}
  - unless @monitoring_lobbyist_firms.empty?
    %p Staff of firms doing public affairs monitoring:
    %ul
      = render :partial => 'retained_lobbyist_staff', :collection => @monitoring_lobbyist_firms, :locals => {:entries_by_lobbyist_firm => @monitoring_entries_by_lobbyist_firm}

- if false # unless @client_data_sources.empty?
  %h2 Lobbyists retained
  = render :partial => 'client_data_source', :collection => @client_data_sources

- if false # unless @register_entries.empty?
  %h2 Public affairs clients
  = render :partial => 'register_entry', :collection => @register_entries

- unless @organisation.data_sources.empty?
  %h2 Data sources
  - @organisation.data_sources.each do |data_source|
    %p= link_to h(data_source.name), data_source_path(data_source)

#similarly_named
  - unless @similarly_named.empty?
    %h2 Similarly named organisations
    - @similarly_named.each do |organisation|
      %p
        = link_to h(organisation.name), organisation_path(organisation)
        - if organisation.company_number
          = "(#{organisation.company_number})"
