.appointment
  - new_or_existing = appointment.new_record? ? 'new' : 'existing'
  - prefix = "appointee[#{new_or_existing}_appointment_attributes][]"
  - fields_for prefix, appointment do |f|
    %p
      = f.label :title
      = f.text_field :title
    %p
      = f.label :organisation_name, 'Organisation'
      = f.text_field :organisation_name
    - organisation = appointment.organisation_id.blank? ? nil : Organisation.find(appointment.organisation_id)
    - name = appointment.organisation_name.blank? ? nil : appointment.organisation_name
    = render :partial=>'organisation', :object=>organisation, :locals=>{ :f=>f, :name=>name }
    %p
      = f.label :acoba_advice, 'Advice'
      = f.text_area :acoba_advice, :size => '40x5'
    %p
      = f.label :date_tendered_text, 'Tendered'
      = f.text_field :date_tendered_text, :size=>12
      %span.note e.g. December 2007
    %p
      = f.label :date_taken_up_text, 'Taken up'
      = f.text_field :date_taken_up_text, :size=>12
      %span.note e.g. January 2008
    %p
      %label
        &nbsp;
      = link_to_function "delete this appointment", "$(this).up('.appointment').remove()"

