= error_messages_for :appointee

- form_for @appointee do |f|
  - field_set_tag 'Person being appointed' do
    %p
      Select
      - if @person
        = select_tag 'appointee[person_id]', options_from_collection_for_select(@people, 'id', 'name', @person.id)
      - else
        = f.collection_select(:person_id, @people, :id, :name, {:prompt => true}, { :index => nil }).gsub('appointee[]','appointee')
      OR
      = link_to 'create new person', new_person_path
  - field_set_tag 'Appointee' do
    %p
      Name:
      = f.text_field :name
  - field_set_tag 'Former Roles' do
    #former_roles
      = add_former_role_link "Add role"
      = render :partial => 'former_role', :collection => @appointee.former_roles
  - field_set_tag 'Appointments' do
    #appointments
      = add_appointment_link "Add an appointment"
      = render :partial => 'appointment', :collection => @appointee.appointments
  %p
    = f.submit "Save"

= link_to 'Back to Appointees', appointees_path
