.former_role
  - new_or_existing = former_role.new_record? ? 'new' : 'existing'
  - prefix = "appointee[#{new_or_existing}_former_role_attributes][]"
  - fields_for prefix, former_role do |f|
    %p
      = f.label :title
      = f.text_field :title
    %p
      = f.label :department_name, 'Department'
      = f.text_field :department_name
      %span.note optional
    %p
      = f.label :leaving_service_date_text, 'Leaving service'
      = f.text_field :leaving_service_date_text, :size=>10
      %span.note e.g. January 2008
    %p
      %label
        &nbsp;
      = link_to_function "delete this role" , "$(this).up('.former_role').remove()"

