- @title = 'Register entries'

%p
  = link_to "Add APPC register report", new_appc_register_report_path
%p
  = link_to "Add APPC register entry", new_appc_register_entry_path
  |
  = link_to "Add PRCA register entry", new_prca_register_entry_path
  |
  = link_to "Add generic register entry", new_register_entry_path

- @register_entries.each do |data_source, entries|
  .register_entries
    %h2= data_source.name
    = render :partial => 'register_entry', :collection => entries
