- @title = @register_entry.organisation_name
%p= h @register_entry.inspect
%p= h @register_entry.office_contacts.inspect
%p= h @register_entry.consultancy_staff_members.inspect
%p= h @register_entry.consultancy_clients.inspect
%p= h @register_entry.monitoring_clients.inspect

