- @title = "Who's Lobbying?"

%h3
  Good lobbying helps to make good government.
%p
  People in a democracy are entitled to express their views, to have their interests recognised and to press those views and interests on public policy and on government. The Government benefit hugely from their contact with the world of lobbying, because they need to know the things that lobbyists know.
  
%h3
  So why should we be concerned with it?
%p Why should we investigate it and inquire into it? It is because lobbying carries with it, as well as intrinsic goods, some intrinsic dangers too. If some people have privileged access to power, policy and Government, that creates disadvantages for other people. So, as far as possible, we need to know who is lobbying whom about what. When Governments take decisions, unless we know something about the process by which those decisions have been taken openly, it can simply be asserted that they have been taken because certain interests have had their way with a Government in a manner that is not open and that has not been challenged.

%h3
  How do we ensure that lobbying activity is transparent?
%p The UK Government has stated
%blockquote "that any system of regulation ...voluntary...or statutory...requires a register of lobbyists to ensure that lobbying activity is transparent."
%p However neither the government nor the lobbyist industry has yet created such a register. Here we have started to aggregate public information about lobbyist activity, for you to browse and track what we currently know:
#organisation_search
  %h2 Find organisation
  - form_tag(search_url, :method => :post) do
    = text_field_with_auto_complete :organisation, :name
    = submit_tag 'Find organisation'
  - if flash['organisation_not_found']
    %p= flash['organisation_not_found']

#people_search
  %h2 Find person
  - form_tag(search_url, :method => :post) do
    = #text_field_tag 'q', (@last_search_term ? h(sanitize(@last_search_term)) : ''), :size => 24
    = text_field_with_auto_complete :person, :name
    = submit_tag 'Find person'
  - if flash['person_not_found']
    %p= flash['person_not_found']

